*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.checkbox.path {
  width: 14.28%;
  display: flex;
  justify-content: center; }

.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative; }
  .checkbox input,
  .checkbox svg {
    width: 21px;
    height: 21px;
    display: block; }
  .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border)); }
    .checkbox input:hover {
      --s: 2px;
      --b: var(--border-hover); }
    .checkbox input:checked {
      --b: var(--border-active); }
  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0); }
  .checkbox.path input:checked {
    background-color: antiquewhite;
    --s: 2px;
    transition-delay: .4s; }
    .checkbox.path input:checked + svg {
      --a: 16.1 86.12;
      --o: 102.22; }
  .checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray .6s, stroke-dashoffset .6s; }
  .checkbox.bounce {
    --stroke: var(--tick); }
    .checkbox.bounce input:checked {
      --s: 11px; }
      .checkbox.bounce input:checked + svg {
        animation: bounce .4s linear forwards .2s; }
    .checkbox.bounce svg {
      --scale: 0; }

@keyframes bounce {
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.date {
  font-weight: 400; }

.round {
  padding: 1rem 0rem 1rem 2rem;
  border: 3px solid black; }

.habit__table {
  width: 80vw;
  margin: 4rem auto;
  font-family: montserrat;
  font-size: 2rem; }

.date__container {
  display: flex;
  border: 3px solid transparent;
  border-bottom: 1px solid black; }

.date__empty {
  flex: 0 0 auto;
  width: 25%; }

.date__list {
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 5rem; }

.date__name {
  width: 10%;
  text-align: center;
  font-size: 1.4rem; }

.checkbox, .checkbox.path svg {
  padding: 7px 0 7px; }

.habit__container {
  display: flex;
  border-bottom: 1px solid black;
  padding: 7px 0 7px;
  flex-wrap: wrap; }

.habitname__container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: montserrat;
  font-size: 1.6rem;
  font-weight: 400; }

.habit__name > span {
  width: 80%; }

.habit__checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }

.habit__checkboxes--container {
  width: 50%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.habitform__container {
  width: 60%;
  padding: 0rem 2rem 2rem;
  background-color: #f6d1cb;
  margin: 3rem auto 0;
  border-radius: 4px;
  position: relative; }

.habitform {
  background-color: white;
  border-radius: 7px;
  padding: 5rem 8rem;
  font-family: quicksand;
  font-weight: 700;
  color: #132663; }

.dots {
  padding: 5px 0; }

.newhabit__control {
  font-size: 1.4rem; }
  .newhabit__control > label {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 700; }
  .newhabit__control > input {
    display: inline-block;
    margin-bottom: 2rem;
    height: 3.2rem;
    width: 100%; }

.newhabit__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem; }

.paint {
  position: absolute;
  bottom: -10%;
  left: -19%; }
  .paint > img {
    width: 100%; }

.plant {
  position: absolute;
  bottom: -10%;
  right: -33%; }
  .plant > img {
    width: 100%; }

.newhabit__button {
  text-align: center;
  margin-top: 2rem; }

.newhabit__button--add {
  font-weight: 600;
  outline: 0;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  background-color: #754ded;
  color: white;
  position: relative;
  cursor: pointer;
  font-family: poppins; }

@keyframes animatedBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

.habit__data--title {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.data--title {
  font-size: 1.4rem;
  text-align: center; }

.habit__info {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900; }

.current__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.current__img {
  width: 40%;
  margin-right: 5px; }
  .current__img > img {
    width: 100%; }

.record__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.record__img {
  width: 40%;
  margin-right: 5px; }
  .record__img > img {
    width: 100%; }

.total__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.total__img {
  width: 40%;
  margin-right: 5px; }
  .total__img > img {
    width: 100%; }

.weekadd {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: montserrat;
  font-weight: 600;
  color: #333;
  padding: 1rem;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  font-size: 1rem; }
  .weekadd::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625rem 0 0 #ffe3e2;
    transform: translate3d(0, 0.5rem, -1rem);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
  .weekadd:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25rem); }
    .weekadd:hover::after {
      box-shadow: 0 0 0 2px #b18597, 0 0.5rem 0 0 #ffe3e2;
      transform: translate3d(0, 0.3rem, -1rem); }
  .weekadd:active {
    background: #ffe9e9;
    transform: translate(0rem, 0.5rem); }
    .weekadd:active::after {
      box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
      transform: translate3d(0, 0, -1rem); }

.habit__button {
  display: inline-block;
  min-width: 10.5rem; }

.habit__button--add {
  margin: 0.5rem 1rem 1rem; }

.habit__chart {
  width: 100%;
  height: 15rem; }

.margin__auto {
  margin: left; }

.habit__areachart {
  display: inline-block; }

.habit__doughnutchart {
  display: inline-block;
  position: relative; }

.habit__doughnutchart--label {
  position: absolute;
  transform: translate(50%, 50%); }

.habit__background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1; }

.page__container {
  background-color: white;
  border-radius: 2rem;
  border: 3px solid black;
  padding: 5rem 5rem 10rem; }

.body__container {
  padding: 5rem 10rem; }

.font__nunito {
  font-family: nunito;
  font-weight: 600; }

.gif__activity {
  width: 50%;
  height: 100%; }

.introduction__container {
  display: flex;
  justify-content: center;
  background-color: #fabf58;
  border: 3px solid black;
  padding: 5rem;
  border-radius: 5px; }

.pt-16 {
  padding-top: 6.4rem; }

.md\:px-6 {
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.sm\:px-7 {
  padding-left: 2.8rem;
  padding-right: 2.8rem; }

.px-4 {
  padding-left: 1.6rem;
  padding-right: 1.6rem; }

.md\:max-w-4xl {
  width: 89.6rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.md\:grid {
  display: grid; }

.items-center {
  align-items: center; }

.flex {
  display: flex; }

.font-semibold {
  font-weight: 800; }

.flex-auto {
  flex: 1 1 auto; }

.p-1\.5 {
  padding: 0.6rem; }

.text-gray-400 {
  --tw-text-opacity: 1;
  color: #9ca3af; }

.justify-center {
  justify-content: center; }

.flex-none {
  flex: none; }

.-my-1\.5 {
  margin-top: -0.6rem;
  margin-bottom: -0.6rem; }

.md\:divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: #e5e7eb; }

.md\:divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse))); }

.md\:pl-14 {
  padding-left: 5.6rem; }

.md\:mt-0 {
  margin-top: 0px; }

.mt-12 {
  margin-top: 4.8rem; }

.text-gray-900 {
  --tw-text-opacity: 1;
  color: #111827; }

.text-gray-500 {
  --tw-text-opacity: 1;
  color: #6b7280; }

.leading-6 {
  line-height: 2.4rem; }

.text-sm {
  font-size: 1.4rem;
  line-height: 2rem; }

.mt-4 {
  margin-top: 1.6rem; }

.w-5 {
  width: 2rem; }

.h-5 {
  height: 2rem; }

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.grid {
  display: grid; }

.mt-10 {
  margin-top: 4rem; }

.rounded-full {
  border-radius: 9999px; }

.w-8 {
  width: 3.2rem; }

.h-8 {
  height: 3.2rem; }

.text-center {
  text-align: center; }

.py-1\.5 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-weight: 700; }

.mt-2 {
  margin-top: 0.8rem; }

.col-start-1 {
  grid-column-start: 1; }

.col-start-2 {
  grid-column-start: 2; }

.col-start-3 {
  grid-column-start: 3; }

.col-start-4 {
  grid-column-start: 4; }

.col-start-5 {
  grid-column-start: 5; }

.col-start-6 {
  grid-column-start: 6; }

.col-start-7 {
  grid-column-start: 7; }

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: #e5e7eb; }

.text-xs {
  font-size: 1.2rem;
  line-height: 1.6rem; }

.calendar__container {
  width: 350px;
  font-family: nunito;
  margin: 0 auto; }

.text-white {
  color: white; }

.background-black {
  background-color: black; }

.background-red {
  background-color: red; }

.text-red {
  color: red; }

.border-top {
  border-top: 1px solid grey; }

.background-beige {
  background-color: beige; }

.padding-9 {
  padding-left: 9px;
  padding-right: 9px; }

.border-radius-none {
  border-radius: unset; }

.border-left {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px; }

.border-right {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px; }

.display-none {
  display: none; }

button {
  border: none;
  background-color: unset;
  border-width: 0;
  border-style: solid; }
