*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.task__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.task__item--container {
  --text: #414856;
  --check: #4F29F0;
  --disabled: #C3C8DE;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px; }

.tasklist__container {
  width: 83%;
  margin: 0 auto 3rem; }

.task__item--content {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; }

.task__item--type {
  width: 100%; }

.task__item--type > span {
  margin-left: 35px;
  font-size: 12px;
  font-family: montserrat; }

.task__item--img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D5797F;
  border-radius: 12px;
  position: absolute;
  align-self: center;
  left: 15px; }

.task__item--img > img {
  width: 18px;
  height: 18px; }

.tasklist__item {
  width: 33.33%;
  padding: 0 5px;
  box-sizing: border-box; }

.task__blank {
  font-size: 18px;
  font-family: montserrat; }

.task__name {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  font-family: varela round;
  font-weight: 600;
  user-select: none;
  font-size: 18px; }

.task__name::before, .task__name::after {
  content: "";
  position: absolute; }

.task__name::before {
  height: 0px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease; }

.task__name:after {
  height: 4px;
  width: 4px;
  top: 20px;
  left: -27px;
  border-radius: 50%; }

.task__item {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 20px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center; }

.task__item::before, .task__item::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px; }

.task__item::before {
  width: 0px;
  right: 40%;
  transform-origin: right bottom; }

.task__item::after {
  width: 0px;
  left: 65%;
  transform-origin: left bottom; }

.task__item:checked::before {
  -webkit-animation: check-01 0.4s ease forwards;
  animation: check-01 0.4s ease forwards; }

.task__item:checked::after {
  -webkit-animation: check-02 0.4s ease forwards;
  animation: check-02 0.4s ease forwards; }

.task__item:checked ~ label {
  color: var(--disabled);
  -webkit-animation: move 0.3s ease 0.1s forwards;
  animation: move 0.3s ease 0.1s forwards; }

.task__item:checked ~ label::before {
  height: 2px;
  background: var(--disabled);
  -webkit-animation: slice 0.4s ease forwards;
  animation: slice 0.4s ease forwards; }

.task__item:checked ~ label::after {
  animation: firework 0.5s ease forwards 0.1s; }

.task__item:checked ~ .task__item--img {
  display: none; }

.task__item--area {
  top: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px; }
  100% {
    padding-right: 4px; } }

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px; }
  100% {
    padding-right: 4px; } }

@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px; }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0; } }

@keyframes slice {
  60% {
    width: 100%;
    left: 4px; }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0; } }

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0); }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0); }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg); }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
    width: 9px;
    top: 18px;
    transform: rotate(45deg); } }

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0); }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0); }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg); }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
    width: 17px;
    top: 18px;
    transform: rotate(-45deg); } }

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0;
    box-shadow: 0 -20px 0 0px #4F29F0, 19px -13px 0 0px #4F29F0, 19px 13px 0 0px #4F29F0, 0 20px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0; } }

.tasklist__title > span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700; }

.tasklist__title {
  margin-bottom: 7px; }

.tasklist__content {
  margin-bottom: 25px; }

.tasklist__content > span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-BoldItalic.woff2") format("woff2"), url("Font/CocoSharpTrial-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Bold.woff2") format("woff2"), url("Font/CocoSharpTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-ExtraboldItalic.woff2") format("woff2"), url("Font/CocoSharpTrial-ExtraboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Heavy.woff2") format("woff2"), url("Font/CocoSharpTrial-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-ExtraLight.woff2") format("woff2"), url("Font/CocoSharpTrial-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-ExtraLightItalic.woff2") format("woff2"), url("Font/CocoSharpTrial-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Extrabold.woff2") format("woff2"), url("Font/CocoSharpTrial-Extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Light.woff2") format("woff2"), url("Font/CocoSharpTrial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-LightItalic.woff2") format("woff2"), url("Font/CocoSharpTrial-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Italic.woff2") format("woff2"), url("Font/CocoSharpTrial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-HeavyItalic.woff2") format("woff2"), url("Font/CocoSharpTrial-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'CocoSharp Trial';
  src: url("Font/CocoSharpTrial-Regular.woff2") format("woff2"), url("Font/CocoSharpTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: antiquewhite; }

.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative; }

.checkbox input,
.checkbox svg {
  width: 21px;
  height: 21px;
  display: block; }

.checkbox input {
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow .3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border)); }

.checkbox input:hover {
  --s: 2px;
  --b: var(--border-hover); }

.checkbox input:checked {
  --b: var(--border-active); }

.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--stroke, var(--border-active));
  position: absolute;
  top: 0;
  width: 21px;
  height: 21px;
  transform: scale(var(--scale, 1)) translateZ(0); }

.checkbox.path input:checked {
  --s: 2px;
  transition-delay: .4s; }

.checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22; }

.checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray .6s, stroke-dashoffset .6s;
  width: 18px;
  height: 18px; }

.checkbox.bounce {
  --stroke: var(--tick); }

.checkbox.bounce input:checked {
  --s: 11px; }

.checkbox.bounce input:checked + svg {
  animation: bounce .4s linear forwards .2s; }

.checkbox.bounce svg {
  --scale: 0; }

@keyframes bounce {
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.date {
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 10px; }

.round {
  padding: 1rem 0rem 1rem 2rem;
  border: 3px solid black; }

.habit__box {
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background-color: white;
  border-radius: 5px;
  padding: 18px 10px 18px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 20px; }

.habit__name {
  height: 4rem;
  display: flex;
  align-items: center; }

.habit__table {
  width: 86%;
  margin: 0 auto 5rem;
  font-family: montserrat;
  font-size: 2rem; }

.date__container {
  display: flex;
  border: 3px solid transparent;
  padding: 0 30px 0 40px; }

.date__empty {
  flex: 0 0 auto;
  width: 25%; }

.date__list {
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 5rem; }

.date__name {
  width: 10%;
  text-align: center;
  font-size: 1.4rem; }

.checkbox.path {
  width: 14.28%;
  display: flex;
  justify-content: center; }

.checkbox, .checkbox.path svg {
  padding: 5px 0 5px; }

.habit__container {
  display: flex;
  padding: 15px 0;
  flex-wrap: wrap;
  position: relative; }

.habitname__container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: montserrat;
  font-size: 1.6rem;
  font-weight: 400; }

.habit__name > span {
  width: 100%;
  font-weight: 700;
  font-size: 12px; }

.habit__checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.habit__checkboxes--container {
  width: 50%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.habitform__container {
  width: 70%;
  padding: 0rem 2rem 2rem;
  background-color: #f6d1cb;
  margin: 3rem auto 0;
  border-radius: 4px;
  position: relative; }

.habitform {
  background-color: white;
  border-radius: 7px;
  padding: 5rem 8rem;
  font-family: quicksand;
  font-weight: 700;
  color: #132663; }

.dots {
  padding: 5px 0; }

.newhabit__control {
  font-size: 1.4rem; }

.newhabit__control > label {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 700; }

.newhabit__control > input {
  display: inline-block;
  margin-bottom: 2rem;
  height: 3.2rem;
  width: 100%; }

.newhabit__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem; }

.paint {
  position: absolute;
  bottom: -10%;
  left: -19%; }

.paint > img {
  width: 100%; }

.plant {
  position: absolute;
  bottom: -10%;
  right: -33%; }

.plant > img {
  width: 100%; }

.newhabit__button {
  text-align: center;
  margin-top: 2rem; }

.newhabit__button--add {
  font-weight: 600;
  outline: 0;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  background-color: #754ded;
  color: white;
  position: relative;
  cursor: pointer;
  font-family: poppins; }

@keyframes animatedBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

.habit__data--title {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.data--title {
  font-size: 1.2rem;
  text-align: center;
  width: 33.33%; }

.habit__info {
  font-size: 15px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900; }

.current__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.current__img {
  width: 40%;
  margin-right: 2px; }

.current__img > img {
  width: 100%; }

/* .current__data > span, .record__data > span, .total__data > span{
  border-radius: 50%;
  padding: 5px;
} */
.record__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.record__img {
  width: 40%;
  margin-right: 5px; }

.record__img > img {
  width: 100%; }

.total__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.total__img {
  width: 40%;
  margin-right: 5px; }

.total__img > img {
  width: 100%; }

.weekadd {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: montserrat;
  font-weight: 600;
  color: #333;
  padding: 1rem;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  font-size: 1rem; }

.weekadd::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  /* box-shadow: 0 0 0 2px #b18597, 0 0.625rem 0 0 #ffe3e2; */
  transform: translate3d(0, 0.5rem, -1rem);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }

.weekadd:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25rem); }

.weekadd:hover::after {
  /* box-shadow: 0 0 0 2px #b18597, 0 0.5rem 0 0 #ffe3e2; */
  transform: translate3d(0, 0.3rem, -1rem); }

.weekadd:active {
  background: #ffe9e9;
  transform: translate(0rem, 0.5rem); }

.weekadd:active::after {
  /* box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2; */
  transform: translate3d(0, 0, -1rem); }

.habit__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: -2rem;
  height: 7.6rem; }

.habit__button--add {
  margin: 0.5rem 1rem 1rem; }

.habit__button--information {
  width: 2rem;
  height: 2rem; }

.habit__chart {
  width: 100%;
  height: 15rem;
  margin-top: 3rem; }

.margin__auto {
  margin: left; }

.habit__areachart {
  display: inline-block; }

.habit__doughnutchart {
  display: inline-block;
  position: relative; }

.habit__doughnutchart--label {
  position: absolute;
  transform: translate(50%, 50%);
  font-family: montserrat;
  font-weight: 600; }

.habit__background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1; }

.page__container {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 5rem 5rem 10rem; }

.body__container {
  margin-left: 20rem;
  margin-right: 45rem;
  background-color: #fbf5ee; }

.font__montserrat {
  font-family: montserrat;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500; }

.gif__activity {
  width: 50%;
  height: 100%; }

.introhabit__container {
  display: inline-flex;
  width: 100%; }

.introduction__container {
  width: 100%;
  border-radius: 5px;
  display: inline-block; }

.calendar__container {
  display: flex;
  border-radius: 4rem;
  flex-direction: column; }

.calendar__date--controls {
  display: flex;
  align-items: center; }

.calendar__weekdays--controls {
  font-size: 1.15rem;
  line-height: 1.4rem;
  font-family: montserrat;
  font-weight: 700;
  text-align: center;
  margin-top: 2.56rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.calendar__monthdays {
  margin-top: 0.512rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  font-size: 0.896rem;
  line-height: 1.28rem; }

.calendar--prev, .calendar--next {
  width: 2.55rem;
  height: 2.55rem;
  color: black; }

.calendar__day {
  padding-top: 0.384rem;
  padding-bottom: 0.384rem;
  font-weight: 700;
  position: relative; }

.calendar__daybutton {
  height: 3.88rem;
  width: 3.88rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 9999px;
  align-items: center; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; }

.calendar__button {
  margin-top: -0.384rem;
  margin-bottom: -0.384rem;
  padding: 0.384rem; }

.calendar__month {
  flex: 1 1 auto;
  font-weight: 800;
  color: #111827;
  font-family: montserrat;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.8rem; }

.text-gray-400 {
  --tw-text-opacity: 1;
  color: #9ca3af; }

.calendar__body {
  padding: 3.2rem 3.2rem 1rem;
  width: 100%;
  box-sizing: border-box; }

.calendar__schedule {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 3.2rem;
  font-family: montserrat;
  height: 30rem;
  overflow: auto; }

.schedule__title {
  font-size: 1.4rem;
  line-height: 1.66rem;
  margin-bottom: 1.28rem; }

.recharts-text {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: montserrat; }

.form__container {
  padding: 5rem 10rem;
  background: #FFFFFF;
  box-shadow: 0px 44px 64px rgba(69, 25, 160, 0.1);
  border-radius: 32px;
  padding: 7.5rem; }

.form__title {
  font-size: 2.05rem;
  line-height: 2.56rem;
  font-family: montserrat;
  font-weight: 700;
  margin-bottom: 2.56rem;
  color: black; }

.form__query--1 > label {
  font-family: mulish;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black; }

.form__query--1 > input {
  margin-top: 0.8rem;
  width: 100%;
  padding: 1.25rem;
  border: 1px solid #8F9DCE;
  border-radius: 4px;
  box-sizing: border-box; }

.form__query--1 > input::placeholder {
  font-family: mulish;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: black; }

.queryform__style--1 {
  font-family: mulish;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: black; }

.form__checkbox--1 {
  margin-top: 1.15rem;
  display: flex;
  align-items: center; }

.form__checkbox--1 > input {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.32rem;
  box-sizing: border-box; }

.mt-32 {
  margin-top: 2.05rem; }

.queryform__style--2 {
  font-family: mulish;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem; }

.pickupdate__date {
  padding: 1.6rem;
  width: 30rem;
  height: 6.5rem;
  border: 1px solid #8F9DCE;
  border-radius: 4px; }

.form__query {
  display: flex;
  justify-content: space-evenly;
  width: 85rem;
  margin: 0 auto; }

.form__content {
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  padding: 3.2rem;
  width: 35%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.form__apply {
  margin: 4.5rem auto 0;
  background: #1E1411;
  border-radius: 0.8rem;
  width: 13rem;
  color: white;
  padding: 1.25rem;
  text-align: center; }

.form__apply > span {
  font-family: mulish;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem; }

.form__apply--btn {
  color: white;
  font-family: 'Montserrat';
  font-weight: 600; }

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 20rem;
  background-color: #fbf5ee;
  padding: 2.5rem;
  box-sizing: border-box;
  border: #f3f5f9 solid 1px; }

.sidebar__child {
  height: 5.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem; }

.sidebar__child > span:hover {
  color: #002858; }

.sidebar__child > span {
  font-family: mulish;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  color: #002858;
  margin-left: 2rem; }

.rightbar__container {
  box-sizing: border-box;
  width: 450px;
  height: 100vh;
  position: fixed;
  right: 0;
  background: #fbf5ee;
  padding: 30px 23px;
  margin-bottom: 20px; }

.rightbar__intro--content {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }

.rightbar__editimg {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 5px; }

.rightbar__editimg > img {
  width: 20px;
  height: 20px; }

.rightbar__notiimg > img {
  width: 20px;
  height: 20px; }

.rightbar__notiimg {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 5px; }

.rightbar__name {
  flex: 1 1 auto; }

.rightbar__name--text {
  font-family: mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px; }

.rightbar__name--schedule {
  font-family: mulish;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px; }

.rightbar__schedule {
  margin-top: 4px;
  display: flex; }

.rightbar__event {
  margin: 0 auto;
  width: 320px;
  height: 65px;
  display: flex;
  border-radius: 15px; }

.event__datecontainer {
  min-width: 15.65%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center; }

.event__date {
  width: 100%;
  font-family: montserrat;
  height: 62.35%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.event__border {
  width: 5px;
  height: 60%;
  background-color: #70367c;
  border-radius: 999px; }

.rightbar__event--info {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 16px 24px 16px 16px; }

.event__name {
  font-family: montserrat;
  font-weight: 700;
  font-size: 12px; }

.event__type {
  font-family: montserrat;
  font-weight: 400;
  font-size: 9px; }

.event__time {
  text-align: center;
  font-family: montserrat;
  font-weight: 400;
  font-size: 9px;
  min-width: 50px; }

.event__title {
  flex: 1 1 auto; }

.schedule__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%; }

.schedule__dotcontainer {
  width: 4px;
  height: 4px;
  margin: 4px auto 0;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%); }

.options__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; }

.options__button {
  padding: 6px;
  margin: -8px;
  display: flex;
  align-items: center;
  border-radius: 50%; }

.options__dots {
  width: 24px;
  height: 24px; }

.schedule__content {
  font-size: 1.15rem;
  line-height: 1.4rem; }

.rightbar__schedule:nth-child(3n+1) .event__border {
  background-color: #f3cd8f; }

.rightbar__schedule:nth-child(3n+2) .event__border {
  background-color: #3f4460; }

.rightbar__schedule:nth-child(3n+3) .event__border {
  background-color: #84b29c; }

.rightbar__schedule:hover .event__datecontainer {
  background-color: #f3cd8f; }

.rightbar__schedule:hover .event__date {
  background-color: #f3cd8f;
  border: none;
  color: black; }

.rightbar__schedule:hover .rightbar__event--info {
  background-color: #3f4460;
  color: #eee; }

.rightbar__schedule:hover .options__container {
  opacity: 1; }

.rightbar__schedule:hover .event__border {
  background-color: unset; }

.habit__welcome {
  margin: 0 auto 4rem;
  width: 83%;
  display: flex;
  justify-content: space-between; }

.habit__search {
  position: relative;
  width: 40%; }

.habit__search > input {
  background: #FAFCFE;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  border: none;
  padding-left: 4.5rem;
  font-size: 16px; }

.search__icon > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px; }

.hello__title {
  font-size: 18px;
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 5px; }

.hello__content {
  font-size: 14px;
  font-family: montserrat; }

.signup__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.signup__container > img {
  position: absolute;
  width: 100%;
  height: 100vh; }

::placeholder {
  font-family: nunito;
  color: #333;
  font-weight: 700; }

.signup__form {
  width: 50rem;
  height: 50rem;
  background-color: white;
  position: relative;
  z-index: 10;
  font-family: nunito;
  display: flex;
  align-items: center;
  justify-content: center; }

/* .signup__block{
    background-color: antiquewhite;
  } */
.signup__welcome {
  font-size: 1.7rem;
  margin: 2.2rem 0;
  font-weight: 600; }

.signup__account input {
  height: 4rem;
  width: 29rem;
  border-radius: 6px;
  border: 2px solid #333;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem; }

.signup__password input {
  height: 4rem;
  width: 29rem;
  border-radius: 6px;
  border: 2px solid #333;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem; }

.signup__utilities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem; }

.signup__rememberme {
  font-weight: 700;
  display: flex;
  align-items: center; }

.signup__rememberme label {
  font-size: 1.2rem; }

.signup__rememberme input {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #333;
  border-radius: 7px;
  margin-right: 1rem; }

.signup__forgot {
  font-size: 1.2rem;
  font-weight: 700; }

.signup__forgot a {
  text-decoration: none;
  color: black; }

.signup__signin--btn {
  width: 100%;
  background-color: #111727;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 4rem;
  border-radius: 6px;
  border: 2px solid #333;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-family: 'Nunito'; }

.signup__google--btn {
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 4rem;
  border-radius: 6px;
  border: 2px solid #333;
  font-weight: 600;
  margin-bottom: 1.5rem; }

.signup__google--btn > span > img {
  width: 1.8rem;
  height: 1.8rem; }

.signup__google--btn > span {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; }

/* .signup__google--btn> img{
    max-width: 100%;
  } */
.signup__signup {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center; }

.signup__signup a {
  color: black;
  font-weight: 700; }

.col-start-1 {
  grid-column-start: 1; }

.col-start-2 {
  grid-column-start: 2; }

.col-start-3 {
  grid-column-start: 3; }

.col-start-4 {
  grid-column-start: 4; }

.col-start-5 {
  grid-column-start: 5; }

.col-start-6 {
  grid-column-start: 6; }

.col-start-7 {
  grid-column-start: 7; }

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 0.8;
  background-color: #f3cd8f; }

.bg-yellow {
  background-color: #f3cd8f !important;
  color: white; }

.text-white {
  color: white; }

.background-black {
  background-color: black; }

.background-red {
  background-color: red; }

.text-red {
  color: red; }

.text-pink {
  background-color: #3f4460;
  color: white;
  border-radius: 50%; }

.border-top {
  border-top: 1px solid grey; }

.background-beige {
  background-color: #84b29c;
  color: black; }

.padding-9 {
  padding-left: 2.43rem;
  padding-right: 2.43rem; }

.border-radius-none {
  border-radius: unset; }

.border-left {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px; }

.border-right {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px; }

button {
  border: none;
  background-color: unset;
  border-width: 0;
  border-style: solid; }

.background-blue {
  background-color: black; }

.checkbox__disable {
  opacity: 0.8; }

.checkbox__disable::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 10px;
  height: 1px;
  background-color: red;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px; }
