@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-BoldItalic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Bold.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-ExtraboldItalic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Heavy.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-ExtraLight.woff2') format('woff2'),
        url('Font/CocoSharpTrial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-ExtraLightItalic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Extrabold.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Light.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-LightItalic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Italic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-HeavyItalic.woff2') format('woff2'),
        url('Font/CocoSharpTrial-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CocoSharp Trial';
    src: url('Font/CocoSharpTrial-Regular.woff2') format('woff2'),
        url('Font/CocoSharpTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

