.form__container{
    padding: 5rem 10rem;
    background: #FFFFFF;
    box-shadow: .0rem 4.4rem 6.4rem rgba(69, 25, 160, 0.1);
    border-radius: 3.2rem;
    padding: 7.5rem;
}
.form__title{
    font-size: 2.05rem;
    line-height: 2.56rem;
    font-family: montserrat;
    font-weight: 700;
    margin-bottom: 2.56rem;
    color: black;
}


.form__query--1 > label{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: black;
}

.form__query--1 > input{
    margin-top: 0.8rem;
    width: 100%;
    padding: 1.25rem;
    border: .1rem solid #8F9DCE;
    border-radius: .4rem;
    box-sizing: border-box;
}

.form__query--1 > input::placeholder{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: black;
}

.queryform__style--1{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: black;
}

.form__checkbox--1{
    margin-top: 1.15rem;
    display: flex;
    align-items: center;
}

.form__checkbox--1 > input{
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.32rem;
    box-sizing: border-box;
}

.mt-32{
    margin-top: 2.05rem;
}
.queryform__style--2{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.pickupdate__date{
    padding: 1.6rem;
    width: 30rem;
    height: 6.5rem;
    border: .1rem solid #8F9DCE;
    border-radius: .4rem;
}


.form__query{
    display: flex;
    justify-content: space-evenly;
    width: 85rem;
    margin: 0 auto;
}

.form__content{
    background: linear-gradient(to right, #2bc0e4, #eaecc6);
    padding: 3.2rem;
    width: 37.5%;
    box-shadow: rgba(100, 100, 111, 0.2) .0rem .7rem 2.9rem .0rem;
}

.form__apply{
    margin: 4.5rem auto 0;
    color: white;
    text-align: center;
}

.form__apply > span{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.form__apply--btn{
    color: white;
    font-family: 'Montserrat';
    background: #1E1411;
    border-radius: 0.8rem;
    font-weight: 600;
    padding: 1.25rem;
}
