// *,
// *::after,
// *::before {
//   margin: .0rem;
//   padding: .0rem;
//   box-sizing: inherit; }

// html {
//   font-size: 62.5%; }

body{
  background-color: antiquewhite;
}

.checkbox {
  --background: #fff;
  --border: #D1D6EE;
  --border-hover: #BBC1E1;
  --border-active: #1E2235;
  --tick: #fff;
  position: relative; }
  .checkbox input,
  .checkbox svg {
    width: 2.1rem;
    height: 2.1rem;
    display: block; }
  .checkbox input {
    width: 1.8rem;
    height: 1.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: .4rem;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, .1rem) var(--b, var(--border)); }
    .checkbox input:hover {
      --s: .2rem;
      --b: var(--border-hover); }
    .checkbox input:checked {
      --b: var(--border-active); }
  .checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: .2rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    width: 2.1rem;
    height: 2.1rem;
    transform: scale(var(--scale, 1)) translateZ(0); }
  .checkbox.path input:checked {
    --s: .2rem;
    transition-delay: .4s; }
    .checkbox.path input:checked + svg {
      --a: 16.1 86.12;
      --o: 102.22; }
  .checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray .6s, stroke-dashoffset .6s; 
    width: 1.8rem;
    height: 1.8rem;  
  }
  .checkbox.bounce {
    --stroke: var(--tick); }
    .checkbox.bounce input:checked {
      --s: 1.1rem; }
      .checkbox.bounce input:checked + svg {
        animation: bounce .4s linear forwards .2s; }
    .checkbox.bounce svg {
      --scale: 0; }

@keyframes bounce {
  50% {
    transform: scale(1.2); }
  75% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.date {
  font-weight: 400;
  border-bottom: .1rem solid black;
  margin-bottom: 1.0rem; }

.round {
  padding: 1rem 0rem 1rem 2rem;
  border: .3rem solid black; }
.habit__box{
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background-color: white;
  border-radius: .5rem;
  padding: 1.8rem 1.0rem 1.8rem 2.0rem;
  // box-shadow: rgb(100 100 111/ 20%) .0rem .7rem 2.9rem .0rem;
  box-shadow: rgba(0, 0, 0, 0.35) .0rem .5rem 1.5rem;
  margin: 0 2.0rem;
}

.habit__name{
  height: 4rem;
  display: flex;
  align-items: center;
}
.habit__table {
  width: 86%;
  margin: 0 auto 5rem;
  font-family: montserrat;
  font-size: 2rem; }

.date__container {
  display: flex;
  border: .3rem solid transparent;
  padding: 0 3.0rem 0 4.0rem; }

.date__empty {
  flex: 0 0 auto;
  width: 25%; }

.date__list {
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 5rem; }

.date__name {
  width: 10%;
  text-align: center;
  font-size: 1.4rem; }

.checkbox.path {
  width: 14.28%;
  display: flex;
  justify-content: center; }

.checkbox, .checkbox.path svg {
  padding: .5rem 0 .5rem; }

.habit__container {
  display: flex;
  padding: 1.5rem 0;
  flex-wrap: wrap;
  position: relative;
 }

.habitname__container {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: montserrat;
  font-size: 1.6rem;
  font-weight: 400; }

.habit__name > span {
  width: 100%; 
  font-weight: 700;
  font-size: 1.2rem;
}

.habit__checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.habit__checkboxes--container {
  width: 50%;
  align-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.habitform__container {
  width: 70%;
  padding: 0rem 2rem 2rem;
  background-color: #f6d1cb;
  margin: 3rem auto 0;
  border-radius: .4rem;
  position: relative; }

.habitform {
  background-color: white;
  border-radius: .7rem;
  padding: 5rem 8rem;
  font-family: quicksand;
  font-weight: 700;
  color: #132663; }

.dots {
  padding: .5rem 0; }

.newhabit__control {
  font-size: 1.4rem; }
  .newhabit__control > label {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 700; }
  .newhabit__control > input {
    display: inline-block;
    margin-bottom: 2rem;
    height: 3.2rem;
    width: 100%; }

.newhabit__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3rem; }

.paint {
  position: absolute;
  bottom: -10%;
  left: -19%; }
  .paint > img {
    width: 100%; }

.plant {
  position: absolute;
  bottom: -10%;
  right: -33%; }
  .plant > img {
    width: 100%; }

.newhabit__button {
  text-align: center;
  margin-top: 2rem; }

.newhabit__button--add {
  font-weight: 600;
  outline: 0;
  border: none;
  border-radius: .5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  background-color: #754ded;
  color: white;
  position: relative;
  cursor: pointer;
  font-family: poppins; }

@keyframes animatedBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

.habit__data--title {
  flex: 0 0 auto;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.data--title {
  font-size: 1.2rem;
  text-align: center;
  width: 33.33%;
 }

.habit__info {
  font-size: 1.5rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900; }

.current__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.current__img {
  width: 40%;
  margin-right: .2rem; }
  .current__img > img {
    width: 100%; }

/* .current__data > span, .record__data > span, .total__data > span{
  border-radius: 50%;
  padding: .5rem;
} */

// .current__data > span{
//   background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;

// }
// .record__data > span{
//   background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
// .total__data > span{
// background-image: linear-gradient(60deg, #52ACFF 25%, #FFE32C 100%);

//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.record__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.record__img {
  width: 40%;
  margin-right: .5rem; }
  .record__img > img {
    width: 100%; }

.total__container {
  flex: 0 0 auto;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.total__img {
  width: 40%;
  margin-right: .5rem; }
  .total__img > img {
    width: 100%; }

.weekadd {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: montserrat;
  font-weight: 600;
  color: #333;
  padding: 1rem;
  background: #fff0f0;
  border: .2rem solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  font-size: 1rem; }
  .weekadd::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    /* box-shadow: 0 0 0 .2rem #b18597, 0 0.625rem 0 0 #ffe3e2; */
    transform: translate3d(0, 0.5rem, -1rem);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
  .weekadd:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25rem); }
    .weekadd:hover::after {
      /* box-shadow: 0 0 0 .2rem #b18597, 0 0.5rem 0 0 #ffe3e2; */
      transform: translate3d(0, 0.3rem, -1rem); }
  .weekadd:active {
    background: #ffe9e9;
    transform: translate(0rem, 0.5rem); }
    .weekadd:active::after {
      /* box-shadow: 0 0 0 .2rem #b18597, 0 0 #ffe3e2; */
      transform: translate3d(0, 0, -1rem); }

.habit__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: -2rem;
  height: 7.6rem;
  // height: 9.6rem;
}

.habit__button--add {
  margin: 0.5rem 1rem 1rem; }

  .habit__button--information{
    width: 2rem;
    height: 2rem;
  }

.habit__chart {
  width: 100%;
  height: 15rem;
  margin-top: 3rem;
 }



  .margin__auto{
    margin: left;
  }

  .habit__areachart{
    display: inline-block;
  }

  .habit__doughnutchart{
    display: inline-block;
    position: relative;
  }
  .habit__doughnutchart--label{
    position: absolute;
    transform: translate(50%,50%);
    font-family: montserrat;
    font-weight: 600;
  }
  .habit__background{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .page__container{
    // background-color: white;
    
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    padding: 5rem 5rem 10rem;
  }
  .body__container{
    margin-left: 20rem;
    margin-right: 45rem;
    background-color: #fbf5ee;;
  }

  .font__montserrat{
    font-family: montserrat;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
  }

  .gif__activity{
    width: 50%;
    height: 100%;
  }

  .introhabit__container{
    display: inline-flex;
    width: 100%;
}
.introduction__container{
  width: 100%;
  border-radius: .5rem;
  // box-shadow: rgba(100, 100, 111, 0.2) .0rem .7rem 2.9rem .0rem;
  display: inline-block;
}
.calendar__container{
    display: flex;
    // background-color: white;
    border-radius: 4rem;
    // justify-content: space-evenly;
    flex-direction: column;
    // padding: 5rem;
    // box-shadow: rgba(100, 100, 111, 0.2) .0rem .7rem 2.9rem .0rem;
    // border-radius: 1rem;
    // margin: 0 auto;
}
.calendar__date--controls{
    display: flex;
    align-items: center;
}
.calendar__weekdays--controls{
    font-size: 1.15rem;
    line-height: 1.4rem;
    font-family: montserrat;
    font-weight: 700;
    text-align: center;
    margin-top: 2.56rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}
.calendar__monthdays{
    margin-top: 0.512rem;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    font-size: 0.896rem;
    line-height: 1.28rem;
}
.calendar--prev, .calendar--next{
    width: 2.55rem;
    height: 2.55rem;
    color: black;
}
.calendar__day{
    padding-top: 0.384rem;
    padding-bottom: 0.384rem;
    font-weight: 700;
    position: relative;
}
.calendar__daybutton{
    height: 3.88rem;
    width: 3.88rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 999.9rem;
    align-items: center;
}
.sr-only {
      position: absolute;
      width: .1rem;
      height: .1rem;
      padding: 0;
      margin: -.1rem;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
  }
  .calendar__button{
    margin-top: -0.384rem;
    margin-bottom: -0.384rem;
    padding: 0.384rem;
  }
  .calendar__month{
    flex: 1 1 auto;
    font-weight: 800;
    color: #111827;
    font-family: montserrat;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.8rem;
  }
  .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156,163,175);
}

.calendar__body{
  padding: 3.2rem 3.2rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

.calendar__schedule{
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 3.2rem;
  font-family: montserrat;
  height: 30rem;
  overflow: auto;
}

.schedule__title{
  font-size: 1.4rem;
  line-height: 1.66rem;
  margin-bottom: 1.28rem;
}


.recharts-text{
  font-size: 1.4rem;
  font-weight: 600;
  font-family: montserrat;
}


.form__radio{
  font-family: montserrat;
}

.form__radio > span{
  font-family: mulish;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: black;
}

.radio__container{
  width: 100%;
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-between;
}


/* label */
.radio__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
}


/* input */
input[name="radio"] {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* .design */
.radio__design {
  width: 1.6rem;
  height: 1.6rem;

  border: .1rem solid #242424;
  border-radius: 100%;
  margin-right: 1.6rem;

  position: relative;
  box-sizing: unset;
}

.radio__design::before,
.radio__design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.radio__design:before {
  background: #242424;
  opacity: 0;
  transition: .3s;
}

.radio__design::after {
  background: #2500E0;
  opacity: .4;
  transition: .6s;
}


/* .text */
.radio__text {
  color: #242424;
  font-weight: bold;
  user-select: none;
}


/* checked state */
input[name="radio"]:checked+.radio__design::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
input[name="radio"]:hover+.radio__design,
input[name="radio"]:focus+.radio__design {
  border: .1rem solid #2500E0;
}

input[name="radio"]:hover+.radio__design:before,
input[name="radio"]:focus+.radio__design:before {
  background: #2500E0;
}

input[name="radio"]:hover~.text {
  color: #2500E0;
}

input[name="radio"]:focus+.radio__design::after,
input[name="radio"]:active+.radio__design::after {
  opacity: .1;
  transform: scale(2.6);
}