.rightbar__container{
    box-sizing: border-box;
    width: 45.0rem;
    height: 100vh;
    position: fixed;
    right: 0;
    background: #fbf5ee;
    padding: 3.0rem 2.3rem;
    margin-bottom: 2.0rem;
}
.rightbar__intro--content{
    width: 100%;
    height: 5.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.rightbar__editimg{
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 .5rem;
}

.rightbar__editimg > img{
    width: 2.0rem;
    height: 2.0rem;
}
.rightbar__notiimg > img{
    width: 2.0rem;
    height: 2.0rem;
}
.rightbar__notiimg{
    width: 3.5rem;
    height: 3.5rem;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 .5rem;
}
.rightbar__name{
    flex: 1 1 auto;
}

.rightbar__name--text{
    font-family: mulish;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

.rightbar__name--schedule{
    font-family: mulish;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

//Part 2

.rightbar__schedule{
    margin-top: .4rem;
    display: flex;
}
.rightbar__event{
    margin: 0 auto;
    width: 32.0rem;
    height: 6.5rem;
    display: flex;
    // box-shadow: rgba(100, 100, 111, 0.2) .0rem .7rem 2.9rem .0rem;
    border-radius: 1.5rem;
}



.event__datecontainer{
    min-width: 15.65%;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.event__date{
    width: 100%;
    font-family: montserrat;
    height: 62.35%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event__border{
    width: .5rem;
    height: 60%;
    background-color: #70367c;
    border-radius: 99.9rem;
}

.rightbar__event--info{
    // background-color: white;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    color: black;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1.6rem 2.4rem 1.6rem 1.6rem;
}
.event__name{
    font-family: montserrat;
    font-weight: 700;
    font-size: 1.2rem;
}
.event__type{
    font-family: montserrat;
    font-weight: 400;
    font-size: .9rem;
}
.event__time{
    text-align: center;
    font-family: montserrat;
    font-weight: 400;
    font-size: .9rem;
    min-width: 5.0rem;
}
.event__title{
    flex: 1 1 auto;
}



.schedule__dot{
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}
.schedule__dotcontainer{
    width: .4rem;
    height: .4rem;
    margin: .4rem auto 0;
    position: absolute;
    bottom: .6rem;
    left: 50%;
    transform: translateX(-50%);
}

.options__container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.options__button{
    padding: .6rem;
    margin: -.8rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.options__dots{
    width: 2.4rem;
    height: 2.4rem;
}

.schedule__content{
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
  .rightbar__schedule:nth-child(3n+1) .event__border{
    background-color: #f3cd8f;
  }
  .rightbar__schedule:nth-child(3n+2) .event__border{
    background-color: #3f4460;
  }
  .rightbar__schedule:nth-child(3n+3) .event__border{
    background-color: #84b29c;
  }

  .rightbar__schedule:hover .event__datecontainer{
    background-color: #f3cd8f;
  }
.rightbar__schedule:hover .event__date{
    background-color: #f3cd8f;
    border: none;
    color: black
}
.rightbar__schedule:hover .rightbar__event--info{
    background-color: #3f4460;
    color: #eee;
}

.rightbar__schedule:hover .options__container{
    opacity: 1;
}

.rightbar__schedule:hover .event__border{
    background-color: unset;
}