
  .task__container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .task__item--container{
    --text: #414856;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    padding: 2.0rem;
    background-color: white;
    border-radius: 2.0rem;
    position: relative;
    margin-bottom: 2.0rem;
}

.tasklist__container{
  width: 83%;
  margin: 0 auto 3rem;
}

.task__item--content{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.task__item--type{
    width: 100%;
}
.task__item--type > span{
    margin-left: 3.5rem;
    font-size: 1.2rem;
    font-family: montserrat;
}
.task__item--img{
    width: 3.0rem;
    height: 3.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D5797F;
    border-radius: 1.2rem;
    position: absolute;
    align-self: center;
    left: 1.5rem;
}

.task__item--img > img{
    width: 1.8rem;
    height: 1.8rem;
}
.tasklist__item{
  width: 33.33%;
  padding: 0 .5rem;
  box-sizing: border-box;
}
.task__blank{
  font-size: 1.8rem;
  font-family: montserrat;
}
  .task__name {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    font-family:varela round;
    font-weight: 600;
    user-select: none;
    font-size: 1.8rem;
  }
  .task__name::before, .task__name::after {
    content: "";
    position: absolute;
  }
  .task__name::before {
    height: .0rem;
    width: .8rem;
    left: -2.7rem;
    background: var(--check);
    border-radius: .2rem;
    transition: background 0.3s ease;
  }

  .task__name:after {
    height: .4rem;
    width: .4rem;
    top: 2.0rem;
    left: -2.7rem;
    border-radius: 50%;
  }
  .task__item{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    outline: none;
    border: 0;
    margin: 0 2.0rem 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
  }
  .task__item::before, .task__item::after {
    content: "";
    position: absolute;
    height: .2rem;
    top: auto;
    background: var(--check);
    border-radius: .2rem;
  }
  .task__item::before {
    width: .0rem;
    right: 40%;
    transform-origin: right bottom;
  }
  .task__item::after {
    width: .0rem;
    left: 65%;
    transform-origin: left bottom;
  }
  .task__item:checked::before {
    -webkit-animation: check-01 0.4s ease forwards;
            animation: check-01 0.4s ease forwards;

  }
  .task__item:checked::after {
    -webkit-animation: check-02 0.4s ease forwards;
            animation: check-02 0.4s ease forwards;

  }
  .task__item:checked ~ label {
    color: var(--disabled);
    -webkit-animation: move 0.3s ease 0.1s forwards;
            animation: move 0.3s ease 0.1s forwards;
  }
  .task__item:checked ~ label::before {
    height: .2rem;
    background: var(--disabled);
    -webkit-animation: slice 0.4s ease forwards;
            animation: slice 0.4s ease forwards;
  }
  .task__item:checked ~ label::after {
    animation: firework 0.5s ease forwards 0.1s;
  }
  .task__item:checked ~ .task__item--img{
    display: none;
  }
  .task__item--area{
    top: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @-webkit-keyframes move {
    50% {
      padding-left: .8rem;
      padding-right: .0rem;
    }
    100% {
      padding-right: .4rem;
    }
  }
  
  @keyframes move {
    50% {
      padding-left: .8rem;
      padding-right: .0rem;
    }
    100% {
      padding-right: .4rem;
    }
  }
  @-webkit-keyframes slice {
    60% {
      width: 100%;
      left: .4rem;
    }
    100% {
      width: 100%;
      left: -.2rem;
      padding-left: 0;
    }
  }
  @keyframes slice {
    60% {
      width: 100%;
      left: .4rem;
    }
    100% {
      width: 100%;
      left: -.2rem;
      padding-left: 0;
    }
  }
  @keyframes check-01 {
    0% {
      width: .4rem;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: .0rem;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: .0rem;
      top: .8rem;
      transform: rotate(45deg);
    }
    100% {
      width: .5rem;
      top: .8rem;
      transform: rotate(45deg);
      width: .9rem;
      top: 1.8rem;
      transform: rotate(45deg);
    }
  }
  @keyframes check-02 {
    0% {
      width: .4rem;
      top: auto;
      transform: rotate(0);
    }
    50% {
      width: .0rem;
      top: auto;
      transform: rotate(0);
    }
    51% {
      width: .0rem;
      top: .8rem;
      transform: rotate(-45deg);
    }
    100% {
      width: 1.0rem;
      top: .8rem;
      transform: rotate(-45deg);
      width: 1.7rem;
      top: 1.8rem;
      transform: rotate(-45deg);

    }
  }
  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 0 0 -.2rem #4F29F0, 0 0 0 -.2rem #4F29F0, 0 0 0 -.2rem #4F29F0, 0 0 0 -.2rem #4F29F0, 0 0 0 -.2rem #4F29F0, 0 0 0 -.2rem #4F29F0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -2.0rem 0 .0rem #4F29F0, 1.9rem -1.3rem 0 .0rem #4F29F0, 1.9rem 1.3rem 0 .0rem #4F29F0, 0 2.0rem 0 .0rem #4F29F0, -1.4rem .8rem 0 .0rem #4F29F0, -1.4rem -.8rem 0 .0rem #4F29F0;
    }
  }
  .tasklist__title > span{
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .tasklist__title{
    margin-bottom: .7rem;
  }
  
  .tasklist__content{
    margin-bottom: 2.5rem;
  }
  .tasklist__content > span{
    font-family: Montserrat;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }
  
