*,
*::after,
*::before {
  margin: .0rem;
  padding: .0rem;
  box-sizing: inherit; }

  html{
      font-size: 50%;
  }
@import "tasklist.scss";
@import "font.scss";
@import "habittable.scss";
@import "form.scss";
@import "sidebar.scss";
@import "rightbar.scss";
@import "welcome.scss";
@import "signup.scss";


.col-start-1 {
    grid-column-start: 1;
}
.col-start-2 {
    grid-column-start: 2;
}
.col-start-3 {
    grid-column-start: 3;
}
.col-start-4 {
    grid-column-start: 4;
}
.col-start-5 {
    grid-column-start: 5;
}
    .col-start-6 {
        grid-column-start: 6;
    }
    .col-start-7 {
        grid-column-start: 7;
    }
    .hover\:bg-gray-200:hover {
        --tw-bg-opacity: 0.8;
        background-color: #f3cd8f;
    }

.bg-yellow{
    background-color: #f3cd8f !important;
    color: white;
}

.text-white{
    color: white;
}
.background-black{
    background-color: black;
}
.background-red{
    background-color: red;
}
.text-red{
    color: red;
    // background-color: #FF4A70;
    // border-radius: 50%;
}
.text-pink{
    // background-color: #744AFF;
    background-color: #3f4460;
    color: white;
    border-radius: 50%;
}

.border-top{
    border-top: .1rem solid grey;
}
.background-beige{
    background-color: #84b29c;
    color: black;
}
.padding-9{
    padding-left: 2.43rem;
    padding-right: 2.43rem;
}
.border-radius-none{
    border-radius: unset;
}
.border-left{
    border-top-left-radius: 99.9rem;
    border-bottom-left-radius: 99.9rem;
}
.border-right{
    border-top-right-radius: 99.9rem;
    border-bottom-right-radius: 99.9rem;
}

// .display-none{
//     display: none;
// }

button {
    border: none;
    background-color: unset;
    border-width: 0;
    border-style: solid;
}
.background-blue{
    background-color: black;
}

// .checkbox__disable{
//     opacity: 0.8;
// }
.checkbox__disable::after{
    position: absolute;
    content: "";
    top: 50%;
    width: .3rem;
    height: 1.0rem;
    z-index: 10;
    background-color: #f4f5f5;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.checkbox__disable::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #e84849;
    border-radius: .4rem;
}